In [14]:
import pandas as pd
df = pd.read_csv('assets/data.csv')

In [15]:
df.head()

        date  subscribers  reviews
0  2019/1/17         2671      194
1  2019/1/18         2671      195
2  2019/1/19         2674      197
3  2019/1/20         2685      199
4  2019/1/21         2695      199

In [16]:
type(df['date'][0])

str

In [17]:
type(df['subscribers'][0])

numpy.int64

In [18]:
type(df['reviews'][0])

numpy.int64

In [28]:
dates = df['date'].values
n_subscribers = df['subscribers'].values
diff_subscribers = df['subscribers'].diff().values
n_reviews = df['reviews'].values
diff_reviews = df['reviews'].diff().values

In [26]:
df['subscribers']

0     2671
1     2671
2     2674
3     2685
4     2695
5     2701
6     2710
7     2718
8     2722
9     2725
10    2734
11    2753
12    2773
13    2785
14    2803
15    2845
16    2847
17    2847
18    2851
19    2852
20    2857
21    2861
22    2865
23    2870
24    2875
25    2892
26    2906
27    2919
28    2942
29    2974
30    2977
31    2978
Name: subscribers, dtype: int64

In [27]:
df['subscribers'].diff().values

array([nan,  0.,  3., 11., 10.,  6.,  9.,  8.,  4.,  3.,  9., 19., 20.,
       12., 18., 42.,  2.,  0.,  4.,  1.,  5.,  4.,  4.,  5.,  5., 17.,
       14., 13., 23., 32.,  3.,  1.])

In [31]:
max(diff_subscribers[1:])

42.0

In [30]:
diff_subscribers

array([nan,  0.,  3., 11., 10.,  6.,  9.,  8.,  4.,  3.,  9., 19., 20.,
       12., 18., 42.,  2.,  0.,  4.,  1.,  5.,  4.,  4.,  5.,  5., 17.,
       14., 13., 23., 32.,  3.,  1.])